body {
    background-color: #ffffff;
  }
  
  .banner {
    height: 250px;
    border-bottom: 1px #cccccc solid;
  }
  
  .navigation {
    margin-top: -230px;
  }
  
  .main-title {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  
  .picture {
    float: left; 
    position: relative; 
    left: 50%;
  }
  
  .hidden {
    display: none;
  }
  
  .picture-show {
    float: left; 
    position: relative; 
    right: 50%;
    height: 300px;
    width: 300px;
    margin: 50px 30px 0 50px;
    background-color: #edeff1;
    border-radius: 10px;
  }
  
  .picture-show:hover .cls-1 {
    fill: #1ABC9C;
  }
  
  .cls-1 {
    fill: #2C3E50;
  }
  
  .picture-frame {
    margin-top: -304px;
    margin-left: 5px;
    height: 290px;
    width: 290px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .picture-label{
    display: none;
    float: left;
    position: relative; 
    right: 50%;
    margin: 60px 0 0 30px;
    opacity: 0.0
  }
  
  .picture-label label {
    margin: 100px 8px 0 20px;
    padding: 0 25px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #edeff1;
  }
  
  .picture-label ul li {
    list-style-type: none;
  }
  
  .picture-label ul li label {
    margin: 5px 8px 15px 8px;
    padding: 0 25px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #edeff1;
  }
  
  .picture-label ul li label:hover {
    color:#1ABC9C;
  }

  .about {
      float: left;
  }

  .about-background {
    height: 162px;
    width: 162px;
    background-color: #edeff1;
    border-radius: 50%;
    padding: 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: -90px;
  }

  .about-frame {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .about-gallery {
    height: 380px;
    width: 250px;
    padding: 70px 10px 20px 10px;
    background-color: #edeff1;
    border-radius: 8px;
    margin: 14px 13px 15px 14px;
  }
  
  .about-gallery h6 {
    font-size: 20px;
  }

  .about-gallery p {
    font-size: 17px;
  }